h1 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    color: #191616;
    margin: 20px 0;
    position: relative;
}
p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #191616;
    position: relative;
}

body{
    overflow-y: hidden;
    background: rgb(229,227,255);
    background: linear-gradient(228deg, rgba(229,227,255,0.8884803921568627) 20%, rgba(232,251,255,0.891281512605042) 48%, rgba(255,255,255,1) 88%);
}

header{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
header img{ 
    width: 60%;
    position: relative;
}
header{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 23px 0;
}
header img{
    width: 55%;
}
.text_shadow {
    text-shadow: 1px 1px 2px #ffffff, 0 0 30px #a2abff , 0 0 10px #6b609d;
    color: #ffffff;
    margin: 11px 0;
}






.base-container {
	  display: flex;
    justify-content: space-evenly;
    position: relative;
}

/*INSERTAR TEXTO*/
.input_area{
    margin-left: 50px;
    margin-right: 12px;
    flex: 1.5;
}

textarea{
    padding: 20px;
    box-sizing: border-box;
    border-style: none;
    border-color: none;
}

#info{
    width: 10px;
}
.input_area #texto-insertado{
    width: 100%;
    background-color: #ffffff56;
    height: 60vh;
    color: #191616;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    border: 1.1px solid #8cdcff;
    border-radius: 10px;
}

.input_area #texto-insertado::placeholder{
    color: #191616;
}

.texto-info{    
    height: 20px;
    padding: 14px;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #3c3c3c;
    display: flex;
    align-items: center;
}
.texto-info img{
    width: 18px;
    margin-right: 10px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
}

.button{
    padding: 18px;
    width: 40%;
    font-size: 17px;
    border-radius: 10px;
    border: solid 1px #8cdcff;
    background: none;
    color: #8cdcff; 
}

.button:first-child{
    color: #202020;
    background-color: #8cdcff;
}

.button:hover{
    background-color: #8cdcff;
    color: #000000;
    border-color: #202020;
    cursor: pointer;
}
.button:first-child:hover{
    color: #ffffff;
    background-color: #202020;
    border-color: #202020;
}



/*SALIDA DE TEXTO*/
.output{
    position: relative;
    margin-left: 12px;
    margin-right: 50px;
    flex: 0.8;
    background-color: #ffffff56;
    padding: 20px;
    border: 1.1px solid #8cdcff;
    border-radius: 10px;
}

.text-out{
    width: 100%;
    height: 100%;
    border: none;
}

.text-out textarea{
    width: 100%;
    height: 90%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #191616;
    background: #ffffff00;
}

.text-out .button{ 
    width: 100%;
}
.text-out-placeholder{
    justify-content: center;
    text-align: center;
    border: none;
}
#img_notfound{
    width: 80%;
}

/*MENSAJE DE COPIADO*/
.copy_container{
    display: flex;
    background-color: #e8e8e833;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.copy_message{
    background-color: #ffffff8c;
    width: 20em;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1.5px #8cdcff solid;
    pointer-events: none;
}
.copy_message p{
    color: #8cdcff;
}


footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
footer p{
    font-size: 12px;
}
footer a{
    color: #8cdcff;
}



@media only screen and (max-width: 767px) {
    h2 {
      font-size: 20px;
      margin: 30px 0;
    }
  
    p {
      font-size: 14px;
    }
  
    body {
      background-color: #202020;
      margin: 20px 20px;
    }
  
    .base-container {
      display: flex;
      flex-direction: column;
    }
  
    header {
      padding: 20px 0;
    }
  
    header img {
      width: 95%;
    }
  
    .input_area {
      margin: 20px 0;
    }
  
    textarea {
      padding: 15px;
    }
  
    .input_area #texto-insertado {
      font-size: 16px;
      border-radius: 10px;
    }
  
    .texto-info {
      margin: 10px 0;
      font-size: 12px;
    }
  
    .button-container {
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  
    .button {
      padding: 14px;
      width: 100%;
      font-size: 16px;
      border-radius: 10px;
    }
  
    .output {
      margin: 20px 0;
      padding: 15px;
      border-radius: 10px;
    }
  
    .text-out textarea {
      font-size: 14px;
    }
  
    .copy_message {
      padding: 20px;
    }
  
    footer {
      padding: 12px 0;
    }
  
    footer p {
      font-size: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    h2 {
      font-size: 24px;
      margin: 40px 0;
    }
  
    p {
      font-size: 16px;
    }
    body{
        margin: 20px 20px;
    }
    header img {
        width: 95%;
        margin: 30px 0;
      }
    .input_area {
      margin-left: 30px;
    }
  
    .input_area #texto-insertado {
      font-size: 18px;
    }
  
    .texto-info {
        margin: 10px 0;
        font-size: 12px;
      }
  
    .button {
      font-size: 18px;
    }
  
    .output {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .text-out textarea {
      font-size: 16px;
    }
  
    .copy_message {
      padding: 25px;
    }
  }
  
  footer{
    margin: 15px 0;
  }
